PLATFORM=android
ANDROID_DEVICE=Pixel_6
ANDROID_VERSION=35
ANDROID_APP=./apps/NativeDemoApp.apk

IOS_DEVICE=iPhone 15
IOS_VERSION=17.5
IOS_APP=./apps/NativeDemoApp.app

DEMO_APP_VERSION=2.2.0

# BrowserStack - optional
BROWSERSTACK_USERNAME=
BROWSERSTACK_ACCESS_KEY=
